<?xml version="1.0"?>
<settings>

  <cross_sections>
    /home/keadyk/Desktop/Research_stuff/OPENMC/data/cross_sections_ascii.xml
  </cross_sections>

  <!-- Parameters for k-eigenvalue calculation -->
  <eigenvalue>
    <batches>100</batches>
    <inactive>20</inactive>
    <particles>20000</particles>
  </eigenvalue>

  <!-- Starting source -->
  <source>
    <space type="box">
      <parameters>-4 -4 -4  4  4  4</parameters>
    </space>
  </source>
  
  <verbosity>5</verbosity>
  
  <survival_biasing>false</survival_biasing>

</settings>
