<?xml version="1.0"?>
<settings>
	<cross_sections>
		/home/keadyk/Desktop/Research_stuff/OPENMC/data/cross_sections_ascii.xml
	</cross_sections>
	<eigenvalue>
		<batches>250</batches>
		<inactive>50</inactive>
		<particles>5000</particles>
	</eigenvalue>
	<output>summary cross_sections</output>
	<source>
		<space type="point" parameters="0 0 0" />
	</source>
	<entropy>
		<lower_left>-61.011 -61.011 -61.011</lower_left>
		<upper_right>61.011 61.011 61.011</upper_right>
	</entropy>
	<!-- Can't use CMFD if you're not compiled w/ PETsc -->
	<run_cmfd>false</run_cmfd>
	<verbosity>5</verbosity>
</settings>
