<?xml version="1.0"?>
<settings>

  <cross_sections>
    /home/keadyk/OpenMC/data/cross_sections_ascii.xml
  </cross_sections>

  <!-- Parameters for k-eigenvalue calculation -->
  <eigenvalue>
    <batches>100</batches>
    <inactive>50</inactive>
    <particles>1000000</particles>
  </eigenvalue>

  <seed>1</seed>
  <!-- Starting source -->
  <source>
    <space type="box">
      <parameters>0.0  5.0  0.0  5.0  10.0  1.0</parameters>
    </space>
  </source>

	<entropy>
		<lower_left>0 0 0</lower_left>
		<upper_right>10 10 1</upper_right>
		<dimension>10 10 1</dimension>
	</entropy>

	<run_cmfd>true</run_cmfd>

	<fcpi_method>
        <start>0</start>
		<enabled>true</enabled>
		<active_multiplier>1</active_multiplier>
		<collision_limit>15</collision_limit>
	</fcpi_method>

</settings>
