<?xml version="1.0"?>
<settings>
	<cross_sections>
		/home/keadyk/Desktop/Research_stuff/OPENMC/data/cross_sections_ascii.xml
	</cross_sections>
	<eigenvalue>
		<batches>200</batches>
		<inactive>50</inactive>
		<particles>500000</particles>
	</eigenvalue>
	<output>summary cross_sections</output>
	<source>
		<space type="box" parameters="0.0 0.0 0.0 5.0 10.0 10.0" />
	</source>
	<entropy>
		<lower_left>0.0 0.0 0.0</lower_left>
		<upper_right>5.0 10.0 10.0</upper_right>
		<dimension>10 1 1</dimension>
	</entropy>
	<run_cmfd>true</run_cmfd>
	<survival_biasing>false</survival_biasing>
	<verbosity>
		5
	</verbosity>
</settings>

