<?xml version="1.0"?>
<settings>

  <cross_sections>
    /home/keadyk/Desktop/Research_stuff/OPENMC/cross_sections_ascii.xml
  </cross_sections>

  <!-- Parameters for k-eigenvalue calculation -->
  <eigenvalue>
    <batches>50</batches>
    <inactive>20</inactive>
    <particles>10000</particles>
  </eigenvalue>

  <!-- Starting source -->
  <source>
    <space type="box">
      <parameters>-0.1 -0.1 -0.1  0.1  0.1  0.1</parameters>
    </space>
  </source>

</settings>
